@use 'src/scss/core' as *;

:host {
  --chain-filter-icon: invert(0);
  --chain-filter-icon-active: invert(1);
  --chain-filter-text: var(--tui-text-01);
  --chain-filter-text-active: #000;
}

.filter-list-element {
  ::ng-deep {
    .t-wrapper {
      width: 90px;
      padding: 0 !important;

      background: var(--tui-base-01);
    }
  }

  ::ng-deep {
    .t-content {
      gap: 8px;

      color: var(--chain-filter-text);

      font-size: 12px;
    }
  }

  &__icon {
    filter: var(--chain-filter-icon);

    transition: filter var(--tui-duration, 300ms) ease-in-out;
  }

  &__clicked-element {
    ::ng-deep {
      .t-wrapper {
        color: var(--chain-filter-text-active);

        background: var(--tui-primary);

        &:hover {
          background-color: var(--tui-primary);
        }
      }
    }

    .filter-list-element__icon {
      filter: var(--chain-filter-icon-active);
    }
  }
}

:host-context(html.light) {
  --chain-filter-icon: invert(27%) sepia(12%) saturate(1786%) hue-rotate(193deg) brightness(91%) contrast(90%);
  --chain-filter-icon-active: invert(18%) sepia(44%) saturate(1198%) hue-rotate(202deg) brightness(91%)
    contrast(94%);
  --chain-filter-text: #3a4670;
  --chain-filter-text-active: #1f2f66;
}

